body {
    color: rgb(0, 0, 0);
    background-color: black;
    background-image: url(../images/road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

h2 {
    padding-left: 20px;
    color: rgb(255, 255, 255);
}

h3 {
    padding-left: 20px;
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-style: italic;
}

.text-f1 {
    color: red;
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

.b1 {
    width: 285px;
    height: 330px;
    background-color: rgb(92, 92, 92);
    color: rgb(150, 150, 150);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    padding:50px;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 20px;
}

.divall {
    max-width: 1300px;
    margin: 30px auto;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
}

.card {
    width: 285px;
    height: 330px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    
}

.card2 {
    width: 285px;
    height: 330px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin-left: 20px;
}

.card3 {
    width: 285px;
    height: 330px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin-left: 20px;
    background-image: url(../images/mir-anime-podnyatie-urovnya-v-odinochku_17073978961163240230.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card4 {
    width: 285px;
    height: 330px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin-left: 20px;
}



